{% extends 'base.html' %}

{% block nav_class_index %} active {% endblock %}

{% load staticfiles %}

{% block container %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <table class="table table-bordered">
          <h2 class="text-center"> Список групп в нашей академии! </h2>

          <thead>
              <tr>
                  <th>#</th>
                  <th>Группа</th>
                  <th>Староста</th>
                  <th> Характеристика группы </th>
                  <th>Редактировать группу</th>
                  <th>Удалить группу</th>
              </tr>
          </thead>
          <tbody>
              {% for group in groups %}
                  <tr>
                      <td>{{ forloop.counter }}</td>

                      <td><a href='#'> {{ group.title }} </a></td>

                      <td> {{ group.starosta }} </td>

                      <td> {{ group.notes }} </td>

                      <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'group:edit_group' group.id %}" role="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                  редактировать группу
                            </a>
                      </td>

                       <td>
                           <a class="btn btn-primary btn-sm" href="{% url 'group:delete_group' group.id %}" role="button">
                           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                          удалить группу
                            </a>
                       </td>
                  </tr>
              {% empty%}
                  <tr>
                      <td>Идет формирование списка групп. Просим извенения за некоторые неудобства</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>


    <div class="left">
        <a class="btn btn-primary btn-sm" href="{% url 'group:add_group' %}" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                 Добавить группу
        </a>
    </div>

    <div class="pagination pagination-lg">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"> previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                   <span class="current"><b>{{ num }}</b></span>
                {% else %}
                    <a href="?page={{ num }}"> {{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock container %}


