{% extends 'base.html' %}


{% load staticfiles %}


{% block title %} {{ group.title }} {% endblock title %}


{% block container %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}


    <div class="container-fluid">
        <div class="well">
            <h2 >{{ group.title }}</h2>
            <p>{{ group.notes }}</p>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-hover">

            <h2 class="text-center"> Студенты курса {{ group.title }}</h2>

            <a class="btn btn-primary btn-sm" href="{% url 'group:add_student' group.id %}" role="button">
                 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                       Добавить студента
            </a>

            <thead>
                <tr>
                    <th>#</th>
                    <th> Фото </th>
                    <th> Имя </th>
                    <th> Фамилия </th>
                    <th> Дата рождения </th>
                    <th> Данные студента </th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td> {{ forloop.counter }}</td>

                        <td> <img class="img-circle" src="{% if student.photo %}
                                           {{ student.photo.url }}
                                       {% else %}
                                           {% static 'img/No_image_available.svg' %}
                                       {% endif %}" height="75"></td>

                        <td> {{ student.first_name }} </td>

                        <td> {{ student.last_name|default:"Фамилия отсутствует" }} </td>

                        <td> {{ student.birthday }} </td>

                        <td> <span class="text-center"><a href='{% url 'student:description_student' student.id %}'>Посмотреть...</a></span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock container %}


