{% extends 'base.html' %}


{% block title %} Login {% endblock title %}


{% load staticfiles %}


{% block container %}

    <form class="form-horizontal" role="form" action="/auth/login/" method="post">
        {% csrf_token %}

         <table class="table table-responsive">
         <tr><th><label for="username">Имя пользователя</label></th>
             <td><input type="text" name="username" id="username"></td></tr>

         <tr><th><label for="password">Пароль</label></th>
             <td><input type="password" name="password" id="password"></td></tr>
         </table>

        {% if login_error %}
            <div class="form-group has-error">
                <label class="col-sm-5 control-label" for="inputError"> {{ login_error }} </label>
            </div>
        {% endif %}



        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6">
                <input class="btn btn-primary btn-sm" type="submit" value="Войти">
            </div>
        </div>

    </form>

     <div class="well well-sm">
        <p> Eсли у Вас еще нет аккаунта пройдите, пожалуйста, легкую процедуру
            <a href="{% url 'loginsys:register' %}">регистрации.</a></p>
        <p> Eсли Вы забыли данные для входа на сайт воспользуйтесь
            <a href="{% url 'contacts:create_contact' %}">этой</a>
            формой и мы вышлем их Вам на электронную почту.</p>
     </div>
{% endblock container %}