<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title> {% block title %} Список групп {% endblock title %} </title>

        <!-- Bootstrap core CSS -->

        {% load staticfiles %}
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

        {% load sidebar %}


        <!-- Custom styles for this template -->
        <link href="starter-template.css" rel="stylesheet">


    </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Blogs Ivan Simeyko</a> -->
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav nav-pills pull-left">
                    <li class="{% block nav_class_index %}{% endblock %}"><a href="{% url 'group_list' %}">Главная</a></li>
                    <li class="{% block nav_class_students %}{% endblock %}"><a href='{% url 'student:all_student'%}'>Студенты</a></li>
                    <li class="{% block nav_class_contact %}{% endblock %}"><a href="{% url 'contacts:create_contact' %}">Наши контакты</a></li>
                </ul>

                <ul class="nav nav-pills pull-right">
                    {% if user.username %}
                        <li><a href="{% url 'loginsys:log_out' %}"> Выйти {{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'loginsys:log_in' %}"> Войти </a></li>
                        <li><a href="{% url 'loginsys:register' %}"> Зарегистрироваться </a></li>
                    {% endif %}
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 blog-main">
                    {% block container %}

                    {% endblock container %}
                </div>

                <div class="col-sm-3 blog-main">
                    {% block container_right %}
                         {% show_sidebar %}
                    {% endblock container_right %}

                </div>
            </div>
        </div>
     </div>

     <footer class="panel-footer">
         <div class="container">
             <p>
                 <span class="left">&copy; Ivan Simeyko 2015</span>
                 <span class="pull-right"><a href="#">Back to top</a></span>
             </p>
         </div>
     </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  </body>
</html>
